* {
  box-sizing: border-box;
}
.name {
  display: flex;
  justify-content: center;
  transform: translateY(-500px);
  color: white;
  text-decoration: ;
  letter-spacing: 15px;
  margin-top: 50px;
  animation: heading;
  animation-duration: 1s;
}
.img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  animation: heading;
  animation-duration: 2s;
}
h1 {
  justify-content: center;
  color: white;
}
h4 {
  transform: translate(-250px, 50px);
  letter-spacing: 10px;
}
body {
  background-color: rgba(31, 30, 30);
}
@keyframes heading {
  0% {
    height: 300px;
    letter-spacing: 3px;
  }
  100% {
    height: 600px;
    letter-spacing: 15px;
    text-decoration: ;
    text-shadow: cornsilk;
  }
}
.about {
  
  transform: translateY(-100px);
  color: white;
  width: 700px;
  height: 300px;
  background-color: rgb(114, 59, 59);
  border-radius: 10px;
  padding: 10px;
}

p {
  animation: panime;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes panime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fab {
  font-size: 40px;
  transition: font-size 0.2s, transform 2s;
  animation: contactanime;
  animation-duration: 4s;
}
.fa-facebook {
  color: white;
  margin-bottom: 10px;
  transform: rotate(360deg);
}
.fa-facebook:hover {
  font-size: 45px;
  transform: rotate(360deg);
  color: rgb(73, 73, 238);
}
.fa-instagram {
  color: white;
  margin-bottom: 10px;
  transform: rotate(360deg);
}
.fa-instagram:hover {
  font-size: 45px;
}
.fa-twitter {
  color: white;
  transform: rotate(360deg);
}
.fa-twitter:hover {
  font-size: 45px;
  color: rgb(73, 73, 238);
}
.contact {
  display: flex;
  flex-direction: column;
  transform: translateY(-500px);
  position: fixed;
  z-index: 1;
}
@keyframes contactanime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.movies {
  display: flex;
  color: white;
  margin-left: 1050px;
  transform: translateY(-425px);
  border-radius: 10px;
  
  animation:portfolioanime;
  animation-duration: 3s;
}
.movies h1 {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.courosel-container {
  border-radius: 10px;
  height: 500px;
  margin-left: 800px;
  margin-top: -450px;

  overflow: hidden;
}
.courosel-slide {
  display: flex;
  height: 500px;
  width: 100%;
}
#nextbtn {
  display: flex;
  margin-left: 1405px;
  transform: translateY(-215px);
  background: none;
  padding: 0px;
  border: none;
  outline: none;
}
#prevbtn {
  margin-left: 875px;
  transform: translateY(-165px);
  background: none;
  padding: 0px;
  border: none;
  outline: none;
}
.fa-arrow-circle-left {
  color: white;
  font-size: 50px;
  color: rgb(105, 100, 100);
  opacity: 1;
  transition: color 0.5s;
}
.fa-arrow-circle-left:hover {
  opacity: 1;
  color:white;
}
.fa-arrow-circle-right:hover {
  opacity: 1;
  color:white;
}
.fa-arrow-circle-right {
  color: white;
  font-size: 50px;
  color: rgb(105, 100, 100);
  opacity: 1;
  transition: color 0.5s;
}
/*.portfolio-container {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  display: flex;
  height: 200px;
  justify-content: space-between;
}*/
.headportfolio {
  display: flex;
  letter-spacing: 10px;
  animation:portfolioanime;
  animation-duration: 3s;
  text-shadow:whitesmoke 20px;
}
@keyframes portfolioanime {
  0% {
    opacity: 0.5;
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
    letter-spacing:10px;
  }
}
.portfoliomaster{
  background-color:rgb(255, 197, 91);
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-container2 {
  opacity;
  display: flex;
  border-radius: 20px;
  
  padding: 20px;
  animation: portfolioanime;
  animation-duration: 5s;
  margin-left: 100px;
}
.portfolio-container {
  margin-left: 100px;
  display: flex;
  
  padding: 20px;
  animation: portfolioanime;
  animation-duration: 5s;
}
.images img {
  
  margin-right: 20px;
  border-radius: 20px;
  height: 600px;
  width: 300px;
  object-fit: cover;
}
.images img:hover {
  transition: box-shadow 0.3s;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.6);
}
.footer{
  border:2px solid white;
  height: 250px;
  background-color:white ;
  text-align: center;

}
.footer h1{
  display: flex;
  color:black;

}
iframe{
  margin-left: 50px;;
}

@media (max-width: 500px) {
  body {
    display: flex;
  }
  .img {
    width: 1500px;
  }
  .courosel-container {
    width: 800px;
    margin-top: 300px;
    transform: translateX(-600px);
    height: 500px;
  }
  .courosel-slide {
    height: 500px;
  }
  .about {
    width: 800px;
  }
}
